[Unit]
Description=Timer notturno giornaliero per backup database locali YACA (file leggeri)

[Timer]
OnCalendar=*-*-* 04:30:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
